.list{
   color: rgb(80, 25, 25);
   width: 330px;
   margin: 20px auto;
   height: 50px;
   background-color: #cfca9b;
   border-radius: 3rem;
}
.list p{
   padding: 12px;
   position: relative;
   transition: ease-in-out;
}
.list p input{
   background-color: transparent;
   border: 0;
   color: rgb(20, 20, 19);
   font-size: 20px;
   font-weight: 600;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list p input:focus{
   outline: none;
}
.list p span{
   position: absolute;
   right: 10px;
}
.faicons{
   margin: 0 5px;
   font-size: 15px;
   cursor: pointer;
}
.itemsAnim-enter{
   opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
   opacity: 1;
   transition: opacity 300ms ease-in
}
.itemsAnim-leave{
   opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
   opacity: 0.01;
   transition: opacity 300ms ease-in
}